.App {
  padding: 20px;
}

.logo {
  width: 300px;
}

nav {
  border-bottom: solid 1px #ebebeb;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

nav a {
  margin-right: 10px;
}

.project-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 40px;
}

.project-image img {
  width: 50vw;
  margin-right: 20px;
}

.project-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.project-images {
  margin-right: 40px;
}

.project-images img {
  width: 50vw;
  display: block;
  margin-bottom: 20px;
}

.project-meta p {
  max-width: 565px;
}
